<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page title will be automatically populated with course info from createcal -->
    <title>%%COURSE_NUM%% %%QTR_YEAR%% Labs</title>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <!-- This script dynamically loads CSS and JS files from the course base directory -->
    <!-- Only edit if you want to change the paths to your JS/CSS sources -->
    <script>
      // Get the base path for the course web by extracting 'courses' + courseName + quarter
      var fullPathArray = window.location.pathname.split('/');
      var basePathArray = fullPathArray.slice(0,4);
      var basePath = basePathArray.join('/');

      // CSS files to load
      var cssSources = [
        '/site/css/bootstrap.min.css',
        '/site/css/main.css',
        '/site/css/calendar.css',
      ];

      // Javscript files to load
      var jsSources = [
        '/site/js/jquery.min.js',
        '/site/js/bootstrap.min.js',
        '/site/js/nav-bar.js',
        '/site/js/footer.js'
      ];

      // Include the script that will load the CSS & Javscript files
      document.write("<script src=\'" + basePath + "/site/js/load-sources.js\'><\/script>");
    </script>
  </head>

  <body>
    <header class="site-header">
    <!-- Javascript will load the navigation bar code here. -->
    </header>

    <div class="container">    
    <h1>Labs</h1>
    <!-- Link to the base calendar directory -->
    <script>
      document.write("<p style='text-align:center'><a href='" + basePath + "/calendar/subscribe.html'>Subscribe to this calendar (google, iCal, etc.)</a></p>");
    </script>
    <p>

<!-- Page content will be automatically generated by createcal here -->
%%BODY%%

    </div>

    <footer class="site-footer">
    <!-- Javascript will load the footer code here. -->
    </footer>

  </body>

</html>